body {
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
img {
    display: block;
    margin: auto;
}
#login {
    display: block;
    text-align: center;
    font-size: 15px;
}